.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 60vh;
}

.about-me {
    grid-column: 1 / 6;
    display: grid;
    justify-content: center;
    align-content: center;
    padding-left: 37px;
}

.profile_image {
    grid-column: 8/ -1;
}


.profile_image .vector {
    height: 60vh;
}

h1 {
    font-size: 2rem;
    color: #6666ff;
    font-weight: 600;
    padding-bottom: 1rem;
}

h4 {
    font-size: 1rem;
    color: #6666ff;
    font-weight: 400;
    line-height: 22px;
}