.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 60vh;
}

.about span {
    color: #525b61;
    font-family: 'MonteCarlo', cursive;
    font-size: 3rem;
}

.about-me {
    grid-column: 1 / 6;
    display: grid;
    justify-content: center;
    align-content: center;
    padding-left: 37px;
}

.profile_image {
    grid-column: 8/ -1;
}


.profile_image .vector {
    height: 60vh;
}

.about-me h1 {
    font-size: 2rem;
    color: #6666ff;
    font-weight: 600;
    padding-bottom: 1rem;
}

.about-me h4 {
    font-size: 1rem;
    color: #6666ff;
    font-weight: 400;
    line-height: 22px;
}

.resume {
    margin-top: 2rem;
}


.resume a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    background: #6767ff;
    padding: 0.5rem;
    border-radius: 5px;
}


@media screen and (max-width:1020px) {
    .about-me h1 {
        font-size: 1.5rem;
    }

    .about span {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 720px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;
    }

    .profile_image {
        grid-column: auto;
        display: grid;
        place-content: center;

    }

    .profile_image .vector {
        height: 30vh;
    }

    h1 {
        font-size: 1rem;
    }

    .about span {
        font-size: 2rem;
    }

    h4 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:600px) {
    .about-me {
        width: 88%
    }

    .about-me h1 {
        font-size: 1rem;
    }

    .about span {
        font-size: 1.5rem;
    }

    .about-me h4 {
        font-size: 0.8rem;
    }

    .resume {
        margin-top: 1rem;
    }

    .resume a {
        font-size: 0.8rem;
        padding: 0.3rem;
    }

    .profile_image {
        margin-top: 1rem;
    }
}