.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 60vh;
}

.about span {
    color: #525b61;
    font-family: 'MonteCarlo', cursive;
    font-size: 3rem;
}

.about-me {
    grid-column: 1 / 6;
    display: grid;
    justify-content: center;
    align-content: center;
    padding-left: 37px;
}

.profile_image {
    grid-column: 8/ -1;
}


.profile_image .vector {
    height: 60vh;
}

.about-me h1 {
    font-size: 2rem;
    color: #6666ff;
    font-weight: 600;
    padding-bottom: 1rem;
}

.about-me h4 {
    font-size: 1rem;
    color: #6666ff;
    font-weight: 400;
    line-height: 22px;
}

@media only screen and (max-width: 720px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;
    }

    .profile_image {
        grid-column: auto;
        display: grid;
        place-content: center;

    }

    .profile_image .vector {
        height: 30vh;
    }

    h1 {
        font-size: 1rem;
    }

    .about span {
        font-size: 2rem;
    }

    h4 {
        font-size: 0.8rem;
    }
}