.seperator {
    background-image: linear-gradient(to left bottom, #525b61, #3d6480, #1e6aa1, #006ec2, #186ee0, #346dec, #4d6af6, #6666ff, #6666ff, #6666ff, #6666ff, #6666ff);
    height: 6px;
    width: 40%;
    border-radius: 3px;
    margin: 1rem 0px;
}

@media screen and (max-width:600px) {
    .seperator {
        margin-top: 2rem;
    }
}