.project-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.project-dettails-title {
    font-size: 3rem;
    font-family: 'MonteCarlo', cursive;
    margin-bottom: 2rem;
    color: #273339;
}

@media screen and (max-width:600px) {
    .project-dettails-title {
        font-size: 2rem;
    }

    .project-details {
        grid-template-columns: 1fr;
        width: 80%;
    }
}