.project-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}

.project-dettails-title {
    font-size: 3rem;
    font-family: 'MonteCarlo', cursive;
    margin-bottom: 2rem;
    color: #525b61;
}